{% extends 'base.html' %}
{% load mathfilters %}
{% block deger %}
    <div class="container my-4">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                            &times;
                        </button>
                        <h4><i class="fas fa-times"></i> Hata!</h4>
                        {{ message }}
                    </div>
                {% elif message.tags == "info" %}
                    <div class="alert alert-info alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                            &times;
                        </button>
                        <h4><i class="fas fa-info-circle"></i> Bilgilendirme!</h4>
                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                            &times;
                        </button>
                        <h4><i class="icon fa fa-check"></i> Başarılı!</h4>
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row" style="margin-top: 50px">
                <div class="col-lg-6 col-6">
                    <div class="alert alert-default-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                            &times;
                        </button>
                        <h3 style="color: black"><i class="fas fa-money-check-alt"></i> TOPLAM ÖDENECEK
                            ÜCRET {{ data.Odenecek_Ucret }}TL'DİR!</h3>
                    </div>
                </div>
                <div class="col-lg-6 col-6">
                    <div class="alert alert-default-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                            &times;
                        </button>
                        <h3 style="color: black"><i class="fas fa-lira-sign"></i> KALAN ÖDENECEK
                            ÜCRET {{ data.kalan }}TL'DİR!!</h3>
                    </div>
                </div>
                <div class="col-lg-6 col-6">
                    <div class="alert alert-default-info alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                            &times;
                        </button>
                        <h3 style="color:black;;"><i class="fas fa-clock"></i>
                            ÖĞRENCİ İLE ANLAŞILAN TAKSİT SAYISI {{ data.Taksit_Bolme }}
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6 col-6">
                    <div class="alert alert-light alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                            &times;
                        </button>
                        <h3 style="color: black"><i class="fas fa-comments-dollar"></i>
                            {{ data.Odenecek_Ucret|div:data.Taksit_Bolme }}TL AYLIK ÖDEMESİ BULUNUR.
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6 col-6">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="control has-icons-left">
                            {{ form.O_ankiÖdeme }}
                        </div>
                        <div class="control has-icons-left"
                             style="margin-top: 20px;margin-bottom: 50px">
                            <button class="btn btn-success"
                                    style="width: 190px;height: 50px;font-size: 20px"> Ödeme Yap
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}