{% extends 'base.html' %}
{% block deger %}
    <div class="row m-5" style="margin-top: 40px">
        {% for i in data %}
            <div class="col-md-4">
                <div class="card" style="width: 18rem;margin-left: 30px">
                    <img width="200" height="220" src="{{ i.Ogretmen_Resim.url }}" class="img-responsive"
                         style="width: 100%; float: left; margin-right: 10px;"/>
                    <div class="card-body">
                        <h5 class="card-title">{{ i.Ogretmen_adisoyadi }}</h5>
                    </div>
                    <div class="card-body" style="margin-top: -35px">
                        <h5 class="card-title">Branş : {{ i.Ogretmen_Brans }}</h5>
                    </div>
                    <div class="card-body">
                        <a href="/ogretmenguncelle/{{ i.id }}" class="btn btn-info" style="width: 120px;margin-top: -30px">Güncelle</a>
                        <a onclick="return confirm('Silmek İstediğinize Eminmisiniz?')" href="/ogretmensil/{{ i.id }}"
                           class="btn btn-danger" style="width: 120px;margin-top: -30px">Sil</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}